/* Variables */

:root {
  --base-white: #ffffff;
  --black-title: #000000;
  --base-black: #333333;
  --advice-bg: #eeeeee;
  --rating-bg: #f2f2f2;
  --search-parameter-color: #a9a9a9;
  --page-bg: #888888;
  --base-blue: #81b3d2;
  --detail-hover-color: #669ec0;
  --detail-activ-color: #5496bd;
  --base-brown: #766357;
  --search-hover-color:  #604e43;
  --search-active-color: #503e33;
  --footer-bg: rgba(255, 255, 255, 0.9); /* фон footer */
  --navigation-active-color: rgba (0, 0, 0, 0.3);
  --transparent-white: rgba(255, 255, 255, 0.3);
  --rating-color: #666666;
  --line-module-color: #e5e5e5;
  --activ-footer-logo: #bdbbbc;
}

/*Global */

img { 
  max-width: 100%; 
  height: auto;
}

a { 
  text-decoration: none; 
}

/* Body */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
} /* cкрытие заголовков */

.page {
  height: 100%;
}

.page-body {
  height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--base-black);
  text-transform: uppercase;
  background-color: var(--rating-bg);
}

.page-wrapper {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  background-color: var(--base-white);
}
/* Header */

.main-header-logo {
  position: absolute;
  left: 50%;
  margin-left: -69px;
}

.navigation-item a {
  line-height: 26px;
  font-weight: 700;
  color: var(--black-title);
  margin-left: 20px;
}

.navigation-item a:hover {
  color: var(--base-blue);
}

.navigation-item a:active {
  color: var(--navigation-active-color);
}

.navigation .active,
.navigation .active:hover,
.navigation .active:focus,
.navigation .active:active {
  color: var(--base-brown);
}

.main-navigation {
  display: grid;
  grid-template-columns: 1fr;
  height: 56px;
  line-height: 26px;
  font-weight: 700;
  color: var(--base-black);
  background-color: var(--base-white);
}

.navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  list-style: none;
  margin: 0px;
  padding: 0px;
  text-align: center;
  align-items: center;
}

.navigation-item:nth-child(1) {
  grid-column: 1/2;
}

.navigation-item:nth-child(2) {
  grid-column: 2/3;
}

.navigation-item:nth-child(3) {
  grid-column: 4/5;
}

.navigation-item:nth-child(4) {
  grid-column: 5/6;
}


/* Main */

/* .welcome{
  background-image: url("img/photo-welcome-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
} */

/* Features */

.intro {
  display: grid;
  grid-template-columns: 1fr;
  height: 272px;
  text-align: center;
  align-content: center;
}

.features-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0px;
  padding: 0px;
  text-align: center;
  background-color: var(--base-white);
  list-style: none;

}

.advantages-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 330px;
  margin: 0px;
  padding: 0px 65px;
  text-align: center;
  align-content: center;
  color: var(--base-black);
  background-color: var(--base-white);
  list-style: none;

}

.intro-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  width: 470px;
  text-align: center;
  margin-left: 365px;
  color: var(--base-black);
}

.intro-text {
  line-height: 26px;
}

.features-list .wide-block {
  grid-column-start: 1;
  grid-column-end: -1;
  background-color: var(--base-blue);
}

.wide-block .feature-title,
.wide-block .feature-number,
.wide-block .feature-text {
  color: var(--base-white);
}

.feature-title,
.advantage-title {
  font-size: 21px;
  font-weight: 700;
  color: var(--base-black);
}

.advantage {
  width: 253px;
}

.feature-number {
  color: var(--base-black);
}

.feature-text {
  color: var(--base-black);
}

.feature.feature-narrow {
  padding-top: 47px;
  height: 256px;
  background-color: var(--advice-bg);
}

/* Search */

.search-hotels {
  display: grid;
  height: 291px;
  margin-bottom: 0;
  text-align: center;
  align-content: center;
}

.search-title {
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 40px;
  color: var(--black-title);
}

.search-text {
  line-height: 24px;
  width: 431px;
  margin-left: 383px;
}

.search-button {
  font-size: 21px;
  line-height: 26px;
  width: 568px;
  height: 86px;
  margin-left: 316px;
  color: var(--base-white);
  background-color: var(--base-brown);
}

.search-button:hover {
  background-color: var(--search-hover-color);
}

.search-button:active {
  background-color: var(--search-active-color);
  color: var(--transparent-black);
}

/* Footer */

.main-footer {
  background: var(--transparent-white);
}

.main-footer {
  display: grid;
  grid-template-columns: 1fr;
  height: 120px;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  margin: 0px;
  padding: 0px;
  text-align: center;
  align-items: center;
}

.footer-contacts {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--black-title);
}

.footer-social {
  width: 150;
  justify-self: center;
  list-style: none;
  text-align: center;
}

.footer-phone a {
  color: var(--black-title);
}

.footer-hashtag {
  text-decoration: none;
}

.text-copyright {
  line-height: 26px;
  color: var(--black-title);
}

.footer-logo {
  max-width: 197px;
  margin: 0;
}

.logo-image:hover {
  fill: var(--base-blue);
}

.logo-image:active {
  fill: var(--activ-footer-logo);
}

/* hotels form */

.search-result {
  list-style: none;
}

.results {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--black-title);
}

.filters-list li {
  list-style: none;
}

.filters {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: var(--black-title);
}

.filter-name {
  font-size: 12px;
  line-height: 18px;
  color: var(--navigation-active-color);
  text-decoration: none;
}

.filter-name:hover {
  color: var(--base-blue);
}

.filter-name:active {
  color: var(--base-black);
}

.hotels-list li {
  list-style: none;
}

.hotel-rating {
  color: var(--rating-color);
  background-color: var(--rating-bg);
}

.hotel-link {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--base-title);
}

.hotel-link:hover{
  color: var(--base-blue);
}

.hotel-link:active {
  color: var(--navigation-active-color);
}

/* button */

.button {
  font-weight: 700;
  color: var(--base-white);
  text-decoration: none;
  background-color: var(--base-brown);
}

.button:hover {
  background-color: var(--search-hover-color);
}

.button:active {
  color: var(--transparent-white);
  background-color: var(--search-active-color);
}

.button-detail {
  font-weight: 700;
  color: var(--base-white);
  text-decoration: none;
  background-color: var(--base-blue);
}

.button-detail:hover {
  background-color: var(--detail-hover-color);
}

.button-detail:active {
  background-color: var(--detail-activ-color);
}

