/* Variables */

:root {
  --base-white: #ffffff;
  --black-title: #000000;
  --base-black: #333333;
  --advice-bg: #eeeeee;
  --rating-bg: #f2f2f2;
  --search-parameter: #a9a9a9;
  --page-bg: #888888;
  --base-blue: #81b3d2;
  --detail-hover: #669ec0;
  --detail-activ: #5496bd;
  --base-brown: #766357;
  --search-hover:  #604e43;
  --search-active: #503e33;
  --footer-bg: rgba(255, 255, 255, 0.9); /* фон footer */
  --navigation-active: rgba (0, 0, 0, 0.3);
}

/*Global */

img { 
  max-width: 100%; 
}

a { 
  text-decoration: none; 
}

/* Body */

.page-body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--base-black);
  background-color: #F2F2F2;
  text-transform: uppercase;
}

/* Header */

.navigation {
  list-style: none;
}

.navigation-item a {
  font-weight: 700;
  color: var(--black-title);
  line-height: 26px;
  text-decoration: none;
}

.navigation-item a:hover {
  color: var(--navigation-hover);
}

.navigation-item a:active {
  color: var(--navigation-active);
}

/* Feature */

.feature {
  color: var(--base-white);
  list-style: none;
}

.features-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--black-title);
}

.features-text {
  line-height: 26px;
}

.features-list {
  background-color: var(--base-white);
}

.feature-box {
  color: var(--base-white);
  text-align: center;
  background: #81b3d2;
}

.advice-list {
  color: var(--black-title);
  background-color: var(--base-white);
  list-style: none;
}

.feature-title {
  font-size: 21px;
  font-weight: 700;
  color: var(--black-title);
}

.feature-number {
  color: var(--black-title);
}

.feature-text {
  color: var(--black-title);
}

/* Search */

.search-title {
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
  color: var(--black-title);
}

.search-text {
  line-height: 24px;
}

.search-button {
  font-size: 21px;
  line-height: 26px;
  color: var(--base-white);
  background-color: var(--base-brown);
}

.search-button:hover {
  background-color: var(--search-hover);
}

.search-button:active {
  background-color: var(--search-active);
  color: var(--transparent-black);
}

/* Footer */

.footer-contacts {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--black-title);
}

.footer-social {
  list-style: none;
  text-align: center;
}

.footer-phone a {
  color: var(--black-title);
}

.footer-hashtag {
  text-decoration: none;
}

.text-copyright {
  line-height: 26px;
  color: var(--black-title);
}

.page-footer {
  background: var(--transparent-white);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
} /* отвечает за скрытие заголовков h1 h2 */